.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.logout {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}